{% extends "base.html" %}
{% load static %}
{% load i18n %}

{% block head_title %}{% trans "Signup" %}{% endblock %}

{% block content %}
<section class="vh-100 pt-5" style="background-color: #f2b53d; min-height: 830px;">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-12 col-md-8 col-lg-6 col-xl-5">
        <div class="card shadow-2-strong" style="border-radius: 1rem;">
          <div class="card-body p-5 text-center">
            <img class="img-fluid pt-4 pb-4" style="width: 12rem;" src="{% static 'img/logo.png' %}" alt="">
            
            {% if messages %}
            <div class="messages">
                {% for message in messages %}
                <div class="alert alert-dismissable alert-{{ message.tags }}">
                    <button type="button" class="close" data-dismiss="alert">×</button>
                    {{ message }}
                </div>
                {% endfor %}
            </div>
            {% endif %}
            
            {% block inner_content %}
            {% endblock %}

          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}